body {
	background-image: url(../img/debut_dark_@2X.png);
	background-size: 200px 200px;
}

.comingsoon {
  width: 30%;
  margin-top: 100px;
}

.comingsoon h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 0;
}

.comingsoon h2 {
  color: #999;
  font-size: 24px;
  margin-top: 0;
}